html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #3b2f2f;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Section */
section {
    min-height: 100vh;
    padding: 4em 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* dan lainnya */

/* Navigasi */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #5c4033;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 1.2em;
    color: #fff;
    font-weight: 700;
}

nav ul {
    list-style: none;
    margin-right: 15px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav li a {
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
    transition: color 0.3s ease;
    margin-right: 20px;
}

nav li a:hover {
    color: #d4a373;
}

.hamburger {
    display: none;
    font-size: 28px;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 1100;
    padding-right: 20px;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 4px 0;
    transition: 0.3s;
    border-radius: 2px;
}

/* Media Query untuk Navigasi Mobile */
@media (max-width: 768px) {
    .nav-menu {
        position: fixed;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        background: #5c4033;
        position: absolute;
        top: 60px;
        left: -100%;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }
}

/* Bagian Beranda */
#beranda {
    position: relative;
    background: linear-gradient(to bottom, #7f5539, #5c4033);
    color: #fdf8f3;
    justify-content: center;
}

#beranda img {
    width: 90%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    justify-content: center;
    z-index: 2;
    border: 4px solid #fdf8f3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#beranda h1 {
    font-size: 2.8em;
    margin-top: 10px;
}

#beranda p {
    font-size: 1.2em;
    margin: 2px 0;
    max-width: 600px;
}

#beranda .button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #4b2e21;
    color: #fdf8f3;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s ease;
}

#beranda .button:hover {
    background-color: #362016;
    transform: translateY(-2px);
}

.beranda-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.text-content {
    max-width: 500px;
    text-align: left;
}

/* Media Query untuk Beranda Mobile */
@media (max-width: 768px) {
    .beranda-content {
        flex-direction: column;
        gap: 20px;
    }

    .text-content {
        text-align: center;
    }
}

/* Efek Marshmallow */
.coffee-drop {
    position: absolute;
    width: 15px;
    height: 10px;
    background: #f5f5dc;
    border-radius: 20%;
    opacity: 0.8;
    z-index: 1;
    animation: marshmallow-fall 6s linear infinite;
    top: -10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.coffee-drop:nth-child(1) {
    left: 10%;
    animation-delay: 0s;
}

.coffee-drop:nth-child(2) {
    left: 20%;
    animation-delay: 1s;
}

.coffee-drop:nth-child(3) {
    left: 30%;
    animation-delay: 2s;
}

.coffee-drop:nth-child(4) {
    left: 40%;
    animation-delay: 3s;
}

.coffee-drop:nth-child(5) {
    left: 50%;
    animation-delay: 4s;
}

.coffee-drop:nth-child(6) {
    left: 60%;
    animation-delay: 0.5s;
}

.coffee-drop:nth-child(7) {
    left: 70%;
    animation-delay: 1.5s;
}

.coffee-drop:nth-child(8) {
    left: 80%;
    animation-delay: 2.5s;
}

.coffee-drop:nth-child(9) {
    left: 90%;
    animation-delay: 3.5s;
}

.coffee-drop:nth-child(10) {
    left: 15%;
    animation-delay: 4.5s;
}

@keyframes marshmallow-fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0.8;
    }

    50% {
        transform: translateY(50vh) rotate(-10deg) scale(0.9);
        opacity: 0.6;
    }

    100% {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
}

/* Tentang */
#tentang {
    background: #f4f4f4;
    color: #3b2f2f;
}

#tentang h2 {
    font-size: 2.5em;
    margin-bottom: 5px;
    color: #5c4033;
}

.tentang-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(127, 85, 57, 0.1);
}

.tentang-container p {
    text-align: left;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #444;
}

.download-DNA {
    margin-top: 10px;
}

/* Pendidikan */
#pendidikan {
    background: #e4dfdd;
    text-align: center;
    padding: 60px 20px;
}

#pendidikan h2 {
    font-size: 2.5em;
    margin-bottom: 5px;
    color: #5c4033;
}

#pendidikan p {
    max-width: 600px;
    margin: 0 auto 40px;
    font-size: 1.1em;
    color: #444;
}

.education-list {
    list-style: none;
    padding: 0;
    margin: auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media (min-width: 800px) {
    .education-list {
        grid-template-columns: 1fr 1fr;
    }
}

#pendidikan li {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#pendidikan li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#pendidikan li img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    border-radius: 15px;
    cursor: pointer;
}

/* Keahlian */
#keahlian {
    background: #f4f4f4;
    color: #3b2f2f;
}

#keahlian h2 {
    font-size: 2.5em;
    margin-bottom: 5px;
    color: #5c4033;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 0;
    max-width: 1000px;
}

@media (min-width: 600px) {
    .skill-list {
        grid-template-columns: 1fr 1fr;
    }
}

.skills-list {
    list-style: none;
    padding: 18px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    margin: 0;
    width: 100%;
    max-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills-list:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.image-skill {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.image-skill img {
    width: 100%;
    max-width: 140px;
    height: auto;
    margin-bottom: 8px;
    display: block;
}

.skill-list a {
    color: #5c4033;
    text-decoration: none;
}

.skill-list .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.image-skill:hover .overlay {
    opacity: 1;
}


/* Projek */
#projek {
    background: #e4dfdd;
    color: #3b2f2f;
}

#projek h2 {
    font-size: 2.5em;
    margin-bottom: 5px;
    color: #5c4033;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
}

@media (min-width: 600px) {
    .project-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.projek-list {
    background: #fff;
    list-style: none;
    padding: 18px;
    margin: 0;
    width: 100%;
    max-width: 320px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.projek-list:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.image-container img {
    height: auto;
    margin-bottom: 12px;
    display: block;
}

.project-list .overlay {
    height: auto;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.image-container:hover .overlay {
    opacity: 1;
}

.btn-overlay {
    background-color: #7f5539;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-overlay:hover {
    background-color: #a67c52;
}

/* Prestasi */
#prestasi {
    background: #f4f4f4;
    padding: 60px 20px;
    text-align: center;
}

#prestasi h2 {
    font-size: 2.5em;
    margin-bottom: 5px;
    color: #5c4033;
}

.prestasi-list {
    list-style: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media (min-width: 768px) {
    .prestasi-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

#prestasi li {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s;
}

#prestasi li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#prestasi li img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 300px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

/* Hubungi */
#hubungi {
    background: #e4dfdd;
    color: #3b2f2f;
    padding-bottom: 40px;
}

#hubungi h2 {
    font-size: 2.5em;
    margin-bottom: 5px;
    color: #5c4033;
}

#hubungi p {
    margin-bottom: 20px;
}

.info {
    display: flex;
    gap: 70px;
}

.maps {
    border-radius: 50px;
}

.hubungi-container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(127, 85, 57, 0.1);
}

label {
    display: block;
    font-weight: bold;
    text-align: left;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
}

input:focus,
textarea:focus {
    border-color: #5c4033;
    box-shadow: 0 0 5px rgba(92, 64, 51, 0.5);
    outline: none;
}

button {
    background: #5c4033;
    color: #fdf8f3;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #4b2e21;
    transform: translateY(-2px);
}

@media (max-width: 600px) {
    .hubungi-container {
        display: none;
    }
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

/* Footer */
footer {
    background-color: #5c4033;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
}

.footer-container p {
    margin-bottom: 10px;
    font-size: 14px;
}

/* Modal Gambar */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    animation: zoomIn 0.3s ease;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes zoomIn {
    from {
        transform: scale(0.7);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.close {
    position: absolute;
    top: 50px;
    right: 80px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover {
    color: #d4a373;

}
